In [32]:
import pandas as pd

In [33]:
quali=pd.read_csv("data/qualifying.csv")
quali.head(10)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
5,6,18,15,7,11,6,1:26.427,1:26.101,1:28.527
6,7,18,3,3,7,7,1:26.295,1:26.059,1:28.687
7,8,18,14,9,9,8,1:26.381,1:26.063,1:29.041
8,9,18,10,7,12,9,1:26.919,1:26.164,1:29.593
9,10,18,20,5,15,10,1:26.702,1:25.842,\N

In [34]:
#replace \N in q3 with 0:00.000
quali["q1"]=quali['q1'].replace('\\N', None)
quali["q2"]=quali['q2'].replace('\\N', None)
quali["q3"]=quali['q3'].replace('\\N', None)
quali.head(20)

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236
5,6,18,15,7,11,6,1:26.427,1:26.101,1:28.527
6,7,18,3,3,7,7,1:26.295,1:26.059,1:28.687
7,8,18,14,9,9,8,1:26.381,1:26.063,1:29.041
8,9,18,10,7,12,9,1:26.919,1:26.164,1:29.593
9,10,18,20,5,15,10,1:26.702,1:25.842,None
10,11,18,22,11,17,11,1:26.369,1:26.173,None
11,12,18,4,4,5,12,1:26.907,1:26.188,None
12,13,18,18,11,16,13,1:26.712,1:26.259,None
13,14,18,6,3,8,14,1:26.891,1:26.413,None
14,15,18,17,9,10,15,1:26.914,None,None
15,16,18,8,6,1,16,1:26.140,None,None
16,17,18,21,10,21,17,1:27.207,None,None
17,18,18,7,5,14,18,1:27.446,None,None
18,19,18,16,10,20,19,1:27.859,None,None
19,20,18,11,8,18,20,1:28.208,None,None

In [35]:
quali["best_time"]=quali["q3"].fillna(quali["q2"]).fillna(quali["q1"])
quali

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3,best_time
0,1,18,1,1,22,1,1:26.572,1:25.187,1:26.714,1:26.714
1,2,18,9,2,4,2,1:26.103,1:25.315,1:26.869,1:26.869
2,3,18,5,1,23,3,1:25.664,1:25.452,1:27.079,1:27.079
3,4,18,13,6,2,4,1:25.994,1:25.691,1:27.178,1:27.178
4,5,18,2,2,3,5,1:25.960,1:25.518,1:27.236,1:27.236
...,...,...,...,...,...,...,...,...,...,...
10369,10427,1138,817,215,3,16,1:31.085,None,None,1:31.085
10370,10428,1138,840,117,18,17,1:31.094,None,None,1:31.094
10371,10429,1138,842,214,10,18,1:31.312,None,None,1:31.312
10372,10430,1138,822,15,77,19,1:31.572,None,None,1:31.572
10373,10431,1138,855,15,24,20,1:32.054,None,None,1:32.054

In [36]:
quali=quali.dropna(subset=["best_time"])
quali[quali["best_time"].isna()]

Empty DataFrame
Columns: [qualifyId, raceId, driverId, constructorId, number, position, q1, q2, q3, best_time]
Index: []

In [39]:
quali["best_time_s"]=quali["best_time"].apply(lambda x: float(x.split(":")[0])*60+float(x.split(":")[1]))

C:\Users\kjmak\AppData\Local\Temp\ipykernel_2972\1455258261.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  quali["best_time_s"]=quali["best_time"].apply(lambda x: float(x.split(":")[0])*60+float(x.split(":")[1]))

In [42]:
quali.groupby("raceId")["best_time_s"].quantile([0,.25,.50,.75,1]).unstack()

           0.00       0.25      0.50       0.75     1.00
raceId
1        85.504   86.39100   86.7095   86.97350   87.246
2        94.769   95.25000   95.6705   95.91875   97.659
3        95.975   96.19075   96.6835   97.46500   99.321
4        93.242   93.67450   93.9780   94.20675   95.380
5        80.527   80.74050   81.1570   81.46275   82.685
...         ...        ...       ...        ...      ...
1134    113.159  114.01550  114.6585  115.86400  117.775
1135     69.673   70.45750   70.9310   71.27500   73.261
1136     79.327   79.50150   80.3800   80.81075   81.445
1137    101.365  101.98575  102.9135  103.43975  104.504
1138     89.525   89.93150   90.4140   90.84800   92.054

[487 rows x 5 columns]

In [43]:
circuits=pd.read_csv("data/circuits.csv")
races=pd.read_csv("data/races.csv")

In [44]:
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [45]:
circuits[circuits["circuitRef"]=="monza"]

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
13,14,monza,Autodromo Nazionale di Monza,Monza,Italy,45.6156,9.28111,162,http://en.wikipedia.org/wiki/Autodromo_Naziona...

In [69]:
circuits[circuits["country"]=="Italy"]

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
13,14,monza,Autodromo Nazionale di Monza,Monza,Italy,45.6156,9.28111,162,http://en.wikipedia.org/wiki/Autodromo_Naziona...
20,21,imola,Autodromo Enzo e Dino Ferrari,Imola,Italy,44.3439,11.71670,37,http://en.wikipedia.org/wiki/Autodromo_Enzo_e_...
64,65,pescara,Pescara Circuit,Pescara,Italy,42.4750,14.15080,129,http://en.wikipedia.org/wiki/Pescara_Circuit
73,76,mugello,Autodromo Internazionale del Mugello,Mugello,Italy,43.9975,11.37190,255,http://en.wikipedia.org/wiki/Mugello_Circuit

In [46]:
races.head()

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
0,1,2009,1,1,Australian Grand Prix,2009-03-29,06:00:00,http://en.wikipedia.org/wiki/2009_Australian_G...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,2,2009,2,2,Malaysian Grand Prix,2009-04-05,09:00:00,http://en.wikipedia.org/wiki/2009_Malaysian_Gr...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,3,2009,3,17,Chinese Grand Prix,2009-04-19,07:00:00,http://en.wikipedia.org/wiki/2009_Chinese_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
3,4,2009,4,3,Bahrain Grand Prix,2009-04-26,12:00:00,http://en.wikipedia.org/wiki/2009_Bahrain_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
4,5,2009,5,4,Spanish Grand Prix,2009-05-10,12:00:00,http://en.wikipedia.org/wiki/2009_Spanish_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N

In [68]:
races["year"].describe()

count    1125.000000
mean     1992.703111
std        20.603848
min      1950.000000
25%      1977.000000
50%      1994.000000
75%      2011.000000
max      2024.000000
Name: year, dtype: float64

In [75]:
races[(races["name"]=="Italian Grand Prix") & (races["circuitId"]==14)]

,raceId,year,round,circuitId,name,date,time,url,fp1_date,fp1_time,fp2_date,fp2_time,fp3_date,fp3_time,quali_date,quali_time,sprint_date,sprint_time
12,13,2009,13,14,Italian Grand Prix,2009-09-13,12:00:00,http://en.wikipedia.org/wiki/2009_Italian_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
30,31,2008,14,14,Italian Grand Prix,2008-09-14,12:00:00,http://en.wikipedia.org/wiki/2008_Italian_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
47,48,2007,13,14,Italian Grand Prix,2007-09-09,12:00:00,http://en.wikipedia.org/wiki/2007_Italian_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
66,67,2006,15,14,Italian Grand Prix,2006-09-10,14:00:00,http://en.wikipedia.org/wiki/2006_Italian_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
84,85,2005,15,14,Italian Grand Prix,2005-09-04,14:00:00,http://en.wikipedia.org/wiki/2005_Italian_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1025,1038,2020,8,14,Italian Grand Prix,2020-09-06,13:10:00,http://en.wikipedia.org/wiki/2020_Italian_Gran...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1050,1065,2021,14,14,Italian Grand Prix,2021-09-12,13:00:00,http://en.wikipedia.org/wiki/2021_Italian_Gran...,2021-09-10,\N,2021-09-11,\N,\N,\N,2021-09-10,\N,2021-09-11,\N
1072,1089,2022,16,14,Italian Grand Prix,2022-09-11,13:00:00,http://en.wikipedia.org/wiki/2022_Italian_Gran...,2022-09-09,12:00:00,2022-09-09,15:00:00,2022-09-10,11:00:00,2022-09-10,14:00:00,\N,\N
1092,1112,2023,14,14,Italian Grand Prix,2023-09-03,13:00:00,https://en.wikipedia.org/wiki/2023_Italian_Gra...,2023-09-01,11:30:00,2023-09-01,15:00:00,2023-09-02,10:30:00,2023-09-02,14:00:00,\N,\N
1116,1136,2024,16,14,Italian Grand Prix,2024-09-01,13:00:00,https://en.wikipedia.org/wiki/2024_Italian_Gra...,2024-08-30,11:30:00,2024-08-30,15:00:00,2024-08-31,10:30:00,2024-08-31,14:00:00,\N,\N

In [51]:
monza_races=races[races["circuitId"]==14][["raceId","year"]]

In [76]:
monza_races.describe()

            raceId         year
count    74.000000    74.000000
mean    576.851351  1987.094595
std     306.884463    21.927757
min      13.000000  1950.000000
25%     320.000000  1968.250000
50%     623.000000  1987.500000
75%     804.000000  2005.750000
max    1136.000000  2024.000000

In [52]:
monza_quali=quali[quali["raceId"].isin(monza_races["raceId"])]
monza_quali

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3,best_time,best_time_s
268,269,31,20,5,15,1,1:35.464,1:35.837,1:37.555,1:37.555,97.555
269,270,31,5,1,23,2,1:35.214,1:35.843,1:37.631,1:37.631,97.631
270,271,31,17,9,10,3,1:36.001,1:36.306,1:38.117,1:38.117,98.117
271,272,31,7,5,14,4,1:35.543,1:36.175,1:38.445,1:38.445,98.445
272,273,31,3,3,7,5,1:35.485,1:35.898,1:38.767,1:38.767,98.767
...,...,...,...,...,...,...,...,...,...,...,...
10329,10387,1136,852,215,22,16,1:20.945,None,None,1:20.945,80.945
10330,10388,1136,840,117,18,17,1:21.013,None,None,1:21.013,81.013
10331,10389,1136,861,3,43,18,1:21.061,None,None,1:21.061,81.061
10332,10390,1136,822,15,77,19,1:21.101,None,None,1:21.101,81.101
10333,10391,1136,855,15,24,20,1:21.445,None,None,1:21.445,81.445

In [78]:
monza_quali.raceId.nunique()

24

In [53]:
monza_quali=monza_quali.merge(monza_races,on="raceId")
monza_quali

,qualifyId,raceId,driverId,constructorId,number,position,q1,q2,q3,best_time,best_time_s,year
0,269,31,20,5,15,1,1:35.464,1:35.837,1:37.555,1:37.555,97.555,2008
1,270,31,5,1,23,2,1:35.214,1:35.843,1:37.631,1:37.631,97.631,2008
2,271,31,17,9,10,3,1:36.001,1:36.306,1:38.117,1:38.117,98.117,2008
3,272,31,7,5,14,4,1:35.543,1:36.175,1:38.445,1:38.445,98.445,2008
4,273,31,3,3,7,5,1:35.485,1:35.898,1:38.767,1:38.767,98.767,2008
...,...,...,...,...,...,...,...,...,...,...,...,...
503,10387,1136,852,215,22,16,1:20.945,None,None,1:20.945,80.945,2024
504,10388,1136,840,117,18,17,1:21.013,None,None,1:21.013,81.013,2024
505,10389,1136,861,3,43,18,1:21.061,None,None,1:21.061,81.061,2024
506,10390,1136,822,15,77,19,1:21.101,None,None,1:21.101,81.101,2024
507,10391,1136,855,15,24,20,1:21.445,None,None,1:21.445,81.445,2024

In [54]:
monza_quali.describe()

,qualifyId,raceId,driverId,constructorId,number,position,best_time_s,year
count,508.000000,508.000000,508.000000,508.000000,508.000000,508.000000,508.000000,508.000000
mean,5247.177165,624.248031,340.318898,47.978346,18.921260,11.161417,84.630281,2011.507874
std,3075.621191,430.022702,389.606615,73.665842,18.708226,6.250959,4.735592,8.194741
min,269.000000,13.000000,1.000000,1.000000,0.000000,1.000000,78.887000,1994.000000
25%,2472.750000,121.000000,15.750000,4.000000,7.000000,6.000000,81.665000,2006.000000
50%,5696.500000,872.000000,55.000000,9.000000,14.000000,11.000000,83.570500,2012.000000
75%,7811.250000,1002.000000,822.000000,32.250000,22.000000,16.000000,85.644250,2018.000000
max,10391.000000,1136.000000,861.000000,215.000000,99.000000,26.000000,103.355000,2024.000000

In [57]:
monza_quali["year"]=monza_quali["year"].astype(int)

In [96]:
monza_modern_quali=monza_quali[monza_quali["year"]>2000]

In [105]:
agg_quali=monza_modern_quali.groupby(["raceId","year"])["best_time_s"].agg(["min","max","mean","std","median"]).sort_index(level="year")
#boxplot this data and sort by year ascending using plotly
import plotly.express as px
#make this blot with a dark background
px.defaults.template="plotly_dark"
#make this a line plot with median and 95th quartiles on both sides as shaded areas


fig=px.line(agg_quali,x=agg_quali.index.get_level_values("year"),y="median",title="How fast (and close) have F1 cars become this millenium?",labels={"median":"Median Times (with Fieldspread)","year":"Year"},error_y="std")
fig.update_xaxes(title="Year",showgrid=True)
#show all values of year on x -axis 
fig.update_xaxes(tickmode="array",tickvals=agg_quali.index.get_level_values("year").unique())
# fig=px.box(monza_modern_quali,x="year",y="best_time_s",title="Monza Qualifying Times",labels={"best_time_s":"Best Time (s)","year":"Year"})
fig.show()

In [67]:
monza_quali.groupby(["raceId","year"])["best_time_s"].agg(["min","max","mean","std"]).sort_index(level="year")

                min      max       mean       std
raceId year
268    1994  83.844   88.619  85.934962  1.248313
251    1995  84.462   92.470  87.971542  2.331492
121    2003  80.963  100.405  83.787250  4.202422
104    2004  80.089   84.910  81.703450  1.327790
85     2005  80.878   86.964  82.712500  1.655937
67     2006  81.484   86.001  82.877045  1.220143
48     2007  81.997   85.165  83.605091  0.851311
31     2008  96.510   99.906  97.984350  1.172526
13     2009  83.611   85.314  84.456600  0.544852
350    2010  81.962   87.020  83.960042  1.542838
853    2011  82.275   88.231  84.831542  1.817771
872    2012  84.010   87.629  85.421522  1.103759
892    2013  83.755   88.050  85.130091  1.213980
912    2014  84.109   88.562  86.206000  1.256862
938    2015  83.397   87.912  85.158895  1.312753
961    2016  81.135   84.436  82.994429  0.879265
981    2017  95.554  103.355  98.692550  1.963347
1002   2018  79.119   82.568  81.145550  1.035116
1023   2019  79.307   82.356  80.475105  0.836697
1038   2020  78.887   81.717  80.351400  0.833449
1065   2021  79.555   82.716  80.934800  0.946235
1089   2022  80.161   83.005  81.925150  0.860312
1112   2023  80.294   82.860  81.451450  0.853501
1136   2024  79.327   81.445  80.301650  0.674951

In [102]:
agg_quali

                min      max       mean       std   median
raceId year
121    2003  80.963  100.405  83.787250  4.202422  82.7355
104    2004  80.089   84.910  81.703450  1.327790  81.2845
85     2005  80.878   86.964  82.712500  1.655937  82.2850
67     2006  81.484   86.001  82.877045  1.220143  82.6880
48     2007  81.997   85.165  83.605091  0.851311  83.3985
31     2008  96.510   99.906  97.984350  1.172526  97.5930
13     2009  83.611   85.314  84.456600  0.544852  84.2680
350    2010  81.962   87.020  83.960042  1.542838  83.5235
853    2011  82.275   88.231  84.831542  1.817771  84.5625
872    2012  84.010   87.629  85.421522  1.103759  85.0420
892    2013  83.755   88.050  85.130091  1.213980  84.8255
912    2014  84.109   88.562  86.206000  1.256862  86.0900
938    2015  83.397   87.912  85.158895  1.312753  85.0540
961    2016  81.135   84.436  82.994429  0.879265  83.0920
981    2017  95.554  103.355  98.692550  1.963347  98.1330
1002   2018  79.119   82.568  81.145550  1.035116  81.4885
1023   2019  79.307   82.356  80.475105  0.836697  80.5150
1038   2020  78.887   81.717  80.351400  0.833449  80.1730
1065   2021  79.555   82.716  80.934800  0.946235  80.8605
1089   2022  80.161   83.005  81.925150  0.860312  82.0750
1112   2023  80.294   82.860  81.451450  0.853501  81.5055
1136   2024  79.327   81.445  80.301650  0.674951  80.3800