In [46]:
import pandas as pd
import numpy as np  
import plotly.express as px

In [47]:
drivers = pd.read_csv('data/drivers.csv')
drivers.head()

,driverId,driverRef,number,code,forename,surname,dob,nationality,url
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen

In [48]:
drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 860 entries, 0 to 859
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   driverId     860 non-null    int64
 1   driverRef    860 non-null    object
 2   number       860 non-null    object
 3   code         860 non-null    object
 4   forename     860 non-null    object
 5   surname      860 non-null    object
 6   dob          860 non-null    object
 7   nationality  860 non-null    object
 8   url          860 non-null    object
dtypes: int64(1), object(8)
memory usage: 60.6+ KB

In [49]:
results=pd.read_csv("data/results.csv")
results.head()

,resultId,raceId,driverId,constructorId,number,grid,position,positionText,positionOrder,points,laps,time,milliseconds,fastestLap,rank,fastestLapTime,fastestLapSpeed,statusId
0,1,18,1,1,22,1,1,1,1,10.0,58,1:34:50.616,5690616,39,2,1:27.452,218.300,1
1,2,18,2,2,3,5,2,2,2,8.0,58,+5.478,5696094,41,3,1:27.739,217.586,1
2,3,18,3,3,7,7,3,3,3,6.0,58,+8.163,5698779,41,5,1:28.090,216.719,1
3,4,18,4,4,5,11,4,4,4,5.0,58,+17.181,5707797,58,7,1:28.603,215.464,1
4,5,18,5,1,23,3,5,5,5,4.0,58,+18.014,5708630,43,1,1:27.418,218.385,1

In [50]:
results.describe()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,statusId
count,26639.000000,26639.000000,26639.000000,26639.000000,26639.000000,26639.000000,26639.000000,26639.000000,26639.000000
mean,13320.959270,549.030369,276.519802,49.991704,11.139945,12.804385,1.973687,46.274447,17.270093
std,7691.474128,311.452809,280.999872,61.323223,7.208234,7.671892,4.329073,29.532671,26.047980
min,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000
25%,6660.500000,299.000000,57.000000,6.000000,5.000000,6.000000,0.000000,23.000000,1.000000
50%,13320.000000,529.000000,171.000000,25.000000,11.000000,12.000000,0.000000,53.000000,10.000000
75%,19979.500000,807.500000,388.000000,63.000000,17.000000,18.000000,2.000000,66.000000,14.000000
max,26644.000000,1138.000000,861.000000,215.000000,34.000000,39.000000,50.000000,200.000000,141.000000

In [51]:
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26639 entries, 0 to 26638
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   resultId         26639 non-null  int64
 1   raceId           26639 non-null  int64
 2   driverId         26639 non-null  int64
 3   constructorId    26639 non-null  int64
 4   number           26639 non-null  object
 5   grid             26639 non-null  int64
 6   position         26639 non-null  object
 7   positionText     26639 non-null  object
 8   positionOrder    26639 non-null  int64
 9   points           26639 non-null  float64
 10  laps             26639 non-null  int64
 11  time             26639 non-null  object
 12  milliseconds     26639 non-null  object
 13  fastestLap       26639 non-null  object
 14  rank             26639 non-null  object
 15  fastestLapTime   26639 non-null  object
 16  fastestLapSpeed  26639 non-null  object
 17  statusId         26639 non-null  int64
dtypes: float64(1), int64(8), object(9)
memory usage: 3.7+ MB

In [52]:
wins=results[results["position"]=="1"]
wins.describe()

,resultId,raceId,driverId,constructorId,grid,positionOrder,points,laps,statusId
count,1122.000000,1122.000000,1122.000000,1122.000000,1122.000000,1122.0,1122.000000,1122.000000,1122.0
mean,13669.891266,563.250446,215.868093,39.254902,2.690731,1.0,13.497451,64.696078,1.0
std,8015.715609,326.760081,255.695763,57.739078,2.634717,0.0,7.118687,20.200983,0.0
min,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,4.000000,1.000000,1.0
25%,6282.000000,281.250000,20.000000,3.000000,1.000000,1.0,9.000000,54.000000,1.0
50%,14300.000000,561.500000,117.000000,6.000000,2.000000,1.0,10.000000,65.000000,1.0
75%,20749.000000,838.750000,328.000000,34.000000,3.000000,1.0,25.000000,72.000000,1.0
max,26625.000000,1138.000000,857.000000,214.000000,22.000000,1.0,50.000000,200.000000,1.0

In [53]:
driver_wins=drivers.merge(wins, on="driverId")

In [54]:
driver_wins=driver_wins.groupby("driverRef")["raceId"].count().sort_values(ascending=False)

In [55]:
drivers=drivers.merge(driver_wins, on="driverRef", how="left")

In [56]:
drivers.rename(columns={"raceId":"wins"}, inplace=True)
drivers["wins"].fillna(0, inplace=True)

In [57]:
drivers

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,wins
0,1,hamilton,44,HAM,Lewis,Hamilton,1985-01-07,British,http://en.wikipedia.org/wiki/Lewis_Hamilton,105.0
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,0.0
2,3,rosberg,6,ROS,Nico,Rosberg,1985-06-27,German,http://en.wikipedia.org/wiki/Nico_Rosberg,23.0
3,4,alonso,14,ALO,Fernando,Alonso,1981-07-29,Spanish,http://en.wikipedia.org/wiki/Fernando_Alonso,32.0
4,5,kovalainen,\N,KOV,Heikki,Kovalainen,1981-10-19,Finnish,http://en.wikipedia.org/wiki/Heikki_Kovalainen,1.0
...,...,...,...,...,...,...,...,...,...,...
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri,2.0
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant,0.0
857,859,lawson,40,LAW,Liam,Lawson,2002-02-11,New Zealander,http://en.wikipedia.org/wiki/Liam_Lawson,0.0
858,860,bearman,38,BEA,Oliver,Bearman,2005-05-08,British,http://en.wikipedia.org/wiki/Oliver_Bearman,0.0
859,861,colapinto,43,COL,Franco,Colapinto,2003-05-27,Argentinian,http://en.wikipedia.org/wiki/Franco_Colapinto,0.0

In [58]:
nation_wins=drivers.groupby("nationality")["wins"].sum().sort_values(ascending=False)

In [59]:
drivers[(drivers["nationality"]=="Australian")]

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,wins
16,17,webber,\N,WEB,Mark,Webber,1976-08-27,Australian,http://en.wikipedia.org/wiki/Mark_Webber_(raci...,9.0
100,101,brabham,\N,\N,David,Brabham,1965-09-05,Australian,http://en.wikipedia.org/wiki/David_Brabham,0.0
149,150,gary_brabham,\N,\N,Gary,Brabham,1961-03-29,Australian,http://en.wikipedia.org/wiki/Gary_Brabham,0.0
177,178,jones,\N,\N,Alan,Jones,1946-11-02,Australian,http://en.wikipedia.org/wiki/Alan_Jones_(Formu...,12.0
255,256,perkins,\N,\N,Larry,Perkins,1950-03-18,Australian,http://en.wikipedia.org/wiki/Larry_Perkins,0.0
265,266,mcguire,\N,\N,Brian,McGuire,1945-12-13,Australian,http://en.wikipedia.org/wiki/Brian_McGuire,0.0
266,267,schuppan,\N,\N,Vern,Schuppan,1943-03-19,Australian,http://en.wikipedia.org/wiki/Vern_Schuppan,0.0
285,286,brown,\N,\N,Warwick,Brown,1949-12-24,Australian,http://en.wikipedia.org/wiki/Warwick_Brown,0.0
313,314,schenken,\N,\N,Tim,Schenken,1943-09-26,Australian,http://en.wikipedia.org/wiki/Tim_Schenken,0.0
337,338,walker,\N,\N,David,Walker,1941-06-10,Australian,http://en.wikipedia.org/wiki/David_Walker_(rac...,0.0
355,356,jack_brabham,\N,\N,Jack,Brabham,1926-04-02,Australian,http://en.wikipedia.org/wiki/Jack_Brabham,14.0
379,380,gardner,\N,\N,Frank,Gardner,1930-10-01,Australian,http://en.wikipedia.org/wiki/Frank_Gardner_(dr...,0.0
405,406,hawkins,\N,\N,Paul,Hawkins,1937-10-12,Australian,http://en.wikipedia.org/wiki/Paul_Hawkins_(rac...,0.0
582,582,kavanagh,\N,\N,Ken,Kavanagh,1923-12-12,Australian,http://en.wikipedia.org/wiki/Ken_Kavanagh,0.0
621,621,england,\N,\N,Paul,England,1929-03-28,Australian,http://en.wikipedia.org/wiki/Paul_England,0.0
738,738,gaze,\N,\N,Tony,Gaze,1920-02-03,Australian,http://en.wikipedia.org/wiki/Tony_Gaze,0.0
816,817,ricciardo,3,RIC,Daniel,Ricciardo,1989-07-01,Australian,http://en.wikipedia.org/wiki/Daniel_Ricciardo,8.0
855,857,piastri,81,PIA,Oscar,Piastri,2001-04-06,Australian,http://en.wikipedia.org/wiki/Oscar_Piastri,2.0

In [60]:
nation_wins

nationality
British              315.0
German               179.0
Brazilian            101.0
French                81.0
Dutch                 61.0
Finnish               57.0
Australian            45.0
Italian               43.0
Austrian              41.0
Argentine             38.0
Spanish               35.0
American              33.0
Canadian              17.0
New Zealander         12.0
Swedish               12.0
Belgian               11.0
South African         10.0
Mexican                8.0
Colombian              7.0
Monegasque             7.0
Swiss                  7.0
Polish                 1.0
Venezuelan             1.0
Indonesian             0.0
Irish                  0.0
Uruguayan              0.0
Thai                   0.0
Argentine-Italian      0.0
Argentinian            0.0
Chilean                0.0
Chinese                0.0
Russian                0.0
Rhodesian              0.0
Portuguese             0.0
Czech                  0.0
Danish                 0.0
East German            0.0
American-Italian       0.0
Malaysian              0.0
Liechtensteiner        0.0
Japanese               0.0
Indian                 0.0
Hungarian              0.0
Name: wins, dtype: float64

In [61]:
drivers_wo_win=drivers[drivers["wins"]==0]
drivers_wo_win

,driverId,driverRef,number,code,forename,surname,dob,nationality,url,wins
1,2,heidfeld,\N,HEI,Nick,Heidfeld,1977-05-10,German,http://en.wikipedia.org/wiki/Nick_Heidfeld,0.0
5,6,nakajima,\N,NAK,Kazuki,Nakajima,1985-01-11,Japanese,http://en.wikipedia.org/wiki/Kazuki_Nakajima,0.0
6,7,bourdais,\N,BOU,SÃ©bastien,Bourdais,1979-02-28,French,http://en.wikipedia.org/wiki/S%C3%A9bastien_Bo...,0.0
9,10,glock,\N,GLO,Timo,Glock,1982-03-18,German,http://en.wikipedia.org/wiki/Timo_Glock,0.0
10,11,sato,\N,SAT,Takuma,Sato,1977-01-28,Japanese,http://en.wikipedia.org/wiki/Takuma_Sato,0.0
...,...,...,...,...,...,...,...,...,...,...
854,856,de_vries,21,DEV,Nyck,de Vries,1995-02-06,Dutch,http://en.wikipedia.org/wiki/Nyck_de_Vries,0.0
856,858,sargeant,2,SAR,Logan,Sargeant,2000-12-31,American,http://en.wikipedia.org/wiki/Logan_Sargeant,0.0
857,859,lawson,40,LAW,Liam,Lawson,2002-02-11,New Zealander,http://en.wikipedia.org/wiki/Liam_Lawson,0.0
858,860,bearman,38,BEA,Oliver,Bearman,2005-05-08,British,http://en.wikipedia.org/wiki/Oliver_Bearman,0.0
859,861,colapinto,43,COL,Franco,Colapinto,2003-05-27,Argentinian,http://en.wikipedia.org/wiki/Franco_Colapinto,0.0

In [64]:
nations_wo_wins=drivers_wo_win.groupby("nationality")["driverId"].count().sort_values(ascending=False)
nations_wo_wins

nationality
British              145
American             143
Italian               84
French                59
German                43
Brazilian             26
South African         22
Belgian               21
Swiss                 21
Argentine             21
Japanese              20
Dutch                 17
Australian            13
Spanish               13
Canadian              12
Austrian              12
New Zealander          8
Swedish                7
Danish                 5
Irish                  5
Rhodesian              4
Portuguese             4
Finnish                4
Russian                4
Uruguayan              4
Mexican                4
East German            3
Monegasque             3
Thai                   2
Venezuelan             2
Indian                 2
Colombian              2
Malaysian              1
Liechtensteiner        1
Indonesian             1
American-Italian       1
Czech                  1
Chinese                1
Chilean                1
Argentinian            1
Argentine-Italian      1
Hungarian              1
Name: driverId, dtype: int64

In [67]:
nation_wins_nil=nation_wins[nation_wins==0].index
nation_wins_nil

Index(['Indonesian', 'Irish', 'Uruguayan', 'Thai', 'Argentine-Italian',
       'Argentinian ', 'Chilean', 'Chinese', 'Russian', 'Rhodesian',
       'Portuguese', 'Czech', 'Danish', 'East German', 'American-Italian',
       'Malaysian', 'Liechtensteiner', 'Japanese', 'Indian', 'Hungarian'],
      dtype='object', name='nationality')

In [77]:
nations_with_most_drivers_wo_wins=nations_wo_wins.loc[nation_wins_nil].to_frame().reset_index().sort_values(by="driverId", ascending=False)
# nations_with_most_drivers_wo_wins.setcolumns(["Nationality","Drivers"])
nations_with_most_drivers_wo_wins.columns=["Nationality","Drivers"]
nations_with_most_drivers_wo_wins

          Nationality  Drivers
17           Japanese       20
1               Irish        5
12             Danish        5
10         Portuguese        4
2           Uruguayan        4
8             Russian        4
9           Rhodesian        4
13        East German        3
3                Thai        2
18             Indian        2
16    Liechtensteiner        1
15          Malaysian        1
14   American-Italian        1
0          Indonesian        1
11              Czech        1
7             Chinese        1
6             Chilean        1
5        Argentinian         1
4   Argentine-Italian        1
19          Hungarian        1

In [78]:
nations_with_most_drivers_wo_wins.to_excel("nations_with_most_drivers_wo_wins.xlsx", index=False)